body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

main {
    display: inline-block;
    /* border: 1px dashed black; */
}

footer {
    padding: 20px;
}

#city {
    padding: 20px;
    /* border: 1px solid lightslategray; */
}

#five-day {
    padding-left: 20px;
}

#left {
    padding: 20px;
}